{% include 'admin_header.html'%}
    <!--/main-banner-->
    <div class="w3l-main-slider position-relative" id="home">
        <div class="w3l-bannerhny-content">
            <div class="container">
                <div class="w3l-bannerhny-info">
      


<center>
	<h1>View Car Booking</h1>
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>Slno</th>
			<th>Vehicle</th>
		
		<th>User Name</th>
		<th>date</th>
		<th>Amount</th>
		<th>Status</th>
			

		</tr>
		{% for row in data['carbook']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['vehicle']}}</td>
			<td>{{row['fname']}}</td>
				
			<td>{{row['date']}}</td>
			<td>{{row['amount']}}</td>
				<td>{{row['status']}}</td>
			
			

		</tr>

		{%endfor %}
	</table>
</center>

 </div>
            </div>
        </div>
    </div>
    <!--//main-banner-->  
{% include 'footer.html'%}