{% include 'admin_header.html'%}
 <!--/main-banner-->
    <div class="w3l-main-slider position-relative" id="home">
        <div class="w3l-bannerhny-content">
            <div class="container">
                <div class="w3l-bannerhny-info">
<center>
	<h1 style="color: white">View Company</h1>
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>Slno</th>
			<th>Company Name</th>
		
		<th>License</th>
		<th>Phone</th>
		<th>Email</th>
			

		</tr>
		{% for row in data['comp']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['company']}}</td>
			<td>{{row['license']}}</td>
				
			<td>{{row['phone']}}</td>
			<td>{{row['email']}}</td>
			{% if row['usertype']=="pending"%}
			<td><a class="btn btn-success" href="?action=accept&cid={{row['login_id']}}">Accept</a></td>
			<td><a class="btn btn-success" href="?action=reject&cid={{row['login_id']}}">Reject</a></td>
			{% endif %}
			
			

		</tr>

		{%endfor %}
	</table>
</center>

 </div>
            </div>
        </div>
    </div>
    <!--//main-banner-->  
{% include 'footer.html'%}