{%include 'companyheader.html'%}
      <!--/main-banner-->
    <div class="w3l-main-slider position-relative" id="home">
        <div class="w3l-bannerhny-content">
            <div class="container">
                <div class="w3l-bannerhny-info">
<center>
	<h1 style="color: white">Manage specification</h1>
	<form method="post">
		{% if data['specificationup']%}
		<table class="table" style="width: 500px;color: white">
		<tr>
			<th>specification</th>
			<td><input type="text" required="" class="form-control" value="{{data['specificationup'][0]['specification']}}" name="specification"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="update"></td>
		</tr>
	</table>
	{% else %}
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>specification</th>
			<td><input type="text" required="" class="form-control" name="specification"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="addspecification"></td>
		</tr>
	</table>
	{% endif %}
	</form>
</center>
  </div>
            </div>
        </div>
    </div>
    <!--//main-banner--> 
<center>
	<h1>View specification</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>specification</th>

		</tr>
		{% for row in data['sep']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['specification']}}</td>
			<td><a class="btn btn-success" href="?action=delete&sid={{row['sepicification_id']}}&vid={{row['vehicle_id']}}">delete</a></td>
			<td><a class="btn btn-success" href="?action=update&sid={{row['sepicification_id']}}&vid={{row['vehicle_id']}}">Update</a></td>
		</tr>

		{%endfor %}
	</table>
</center>
{% include 'footer.html'%}