{%include 'companyheader.html'%}

         <!--/main-banner-->
    <div class="w3l-main-slider position-relative" id="home">
        <div class="w3l-bannerhny-content">
            <div class="container">
                <div class="w3l-bannerhny-info">
<center>
	<h1 style="color: white">Manage feature</h1>
	<form method="post">
		{% if data['featureup']%}
		<table class="table" style="width: 500px;color: white;color: white">
		<tr>
			<th>feature</th>
			<td><input type="text" required="" class="form-control" value="{{data['featureup'][0]['feature']}}" name="feature"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="update"></td>
		</tr>
	</table>
	{% else %}
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>feature</th>
			<td><input type="text" required="" class="form-control" name="feature"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="addfeature"></td>
		</tr>
	</table>
	{% endif %}
	</form>
</center>
   </div>
            </div>
        </div>
    </div>
    <!--//main-banner--> 
<center>
	<h1>View feature</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>feature</th>

		</tr>
		{% for row in data['fea']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['features']}}</td>
			<td><a class="btn btn-success" href="?action=delete&fid={{row['feature_id']}}&vid={{row['vehicle_id']}}">delete</a></td>
			<td><a class="btn btn-success" href="?action=update&fid={{row['feature_id']}}&vid={{row['vehicle_id']}}">Update</a></td>
		</tr>

		{%endfor %}
	</table>
</center>
{% include 'footer.html'%}