{% include 'userheader.html'%}

    <!--/main-banner-->
    <div class="w3l-main-slider position-relative" id="home">
        <div class="w3l-bannerhny-content">
            <div class="container">
                <div class="w3l-bannerhny-info">
<center>

	<h2 style="color: white"> Loan Request</h2>
	<form method="post">
	<table  class="table" style="width: 500px;color: white">
		
		<tr>
			<th>Amount</th>
			<td><input type="text" class="form-control" required=""  name="amt"></td>
		</tr>
		<tr>
			<th>Details</th>
			<td><input type="text" class="form-control" required=""  name="details"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="enquiry"></td>
		</tr>
	</table>
	</form>
</center>

                </div>
            </div>
        </div>
    </div>
    <!--//main-banner--> 
<center>
	<h1>View Enquiry</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>Amount</th>
		<th>Details</th>
		<th>Status</th>
		
			

		</tr>
		{% for row in data['comp']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['amount']}}</td>
			<td>{{row['details']}}</td>
			<td>{{row['status']}}</td>
		
			
			

		</tr>

		{%endfor %}
	</table>
</center>
{% include 'footer.html'%}