<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<a href="user_home">Home</a>
<a href="user_viewvehicle">View vehicle</a>
<a href="user_testdrive">View Test Drive</a>
<a href="user_viewcarbook">View Bookings</a>
<a href="user_viewparts">View Parts</a>
<a href="user_viewcarts">View Carts</a>
<a href="user_sendcomplaint">Send Complaints</a>
<a href="user_sendenquiry">Send Enquiry</a>
<a href="/">Logout</a> -->




<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Car Transko - Auto Transport Category Bootstrap Responsive Template | Home :: W3layouts </title>
    <!-- google fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/assets/css/style-starter.css">
</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand" href="index.html">
                        <span class="w3yellow">C<i class="fab fa-asymmetrik"></i>r </span>Transko
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="user_home">Home</a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#Pages" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               Views <span class="fa fa-angle-down ms-1"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item pt-2 scroll" href="user_viewvehicle">Vehicle</a></li>

                                <li><a class="dropdown-item scroll" href="user_testdrive">Test Booking</a></li>
                                <li><a class="dropdown-item scroll" href="user_viewcarbook">Car Booking</a></li>
                                <li><a class="dropdown-item scroll" href="user_viewparts">Parts</a></li>
                                 <li><a class="dropdown-item scroll" href="user_viewcarts">My Orders</a></li>
                               

                                
                            </ul>
                        </li>

                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#Pages" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               Send <span class="fa fa-angle-down ms-1"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item pt-2 scroll" href="user_sendcomplaint">Complaints</a></li>

                                <li><a class="dropdown-item scroll" href="user_sendenquiry">Enquiry</a></li>
                                
 <li><a class="dropdown-item scroll" href="user_addloan">Add Loan</a></li>
                              
                            </ul>
                        </li>
                        <li class="nav-item me-lg-4">
                            <a class="nav-link scroll" href="/">Logout</a>
                        </li>
                    </ul>
                    <!--/search-right-->
                    <ul class="header-search me-lg-4">
                        <div class="search-right">
                           <!--  <form action="#" method="GET" class="search-box">
                                <input type="search" placeholder="Enter Keyword" name="search" required="required" autofocus="">
                                <button type="submit" class="btn"><span class="fas fa-search" aria-hidden="true"></span></button>
                            </form> -->
                        </div>
                    </ul>
                    <!--//search-right-->
                </div>

                  <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->